@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

:root {
  --color-blue: #0284c7;
  --color-gray: #cbd5e1;
  --color-text-gray: #808080;
}

h1 {
  font-size: 1.5rem;
}

.all-container {
  height: 100%;
  display: grid;
  grid-template-columns: 250px auto;
}

.beside-sidebar {
  display: grid;
  grid-template-rows: 150px auto;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 4fr 6fr;
}

.search {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  /* justify-items: center; */
  padding: 0 50px;
}

.search > img {
  width: 24px;
  margin: 0;
  padding: 0;
  padding-left: calc(calc(66.92px / 2) - 12px);
}

.search > input {
  border: none;
  height: 30px;
  border-radius: 20px;
  background-color: var(--color-gray);
}

.profile-icon {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 6fr;
  padding: 0 80px;
  gap: 5px;
  align-items: center;
  justify-items: center;
}

.profile-icon > img {
  width: 24px;
}

.profile-icon > h1 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 0 50px;
  column-gap: 10px;
}

.profile > h1, .profile > p {
  margin: 0;
  padding: 0;
}

.profile > img {
  width: 56px;
  border-radius: 100%;
  grid-area: 1 / 1 / 3 / 2;
  padding-left: calc(calc(66.92px / 2) - calc(56px / 2));
}

.profile > p {
  font-weight: bolder;
  padding-top: calc(45px - 19px);
  font-size: 0.7rem;
}

.profile > h1 {
  padding-bottom: calc(45px - 29px);
}

.button {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.button > button {
  color: white;
  font-weight: bolder;
  border: none;
  background-color: var(--color-blue);
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.sidebar {
  top: 0;
  background-color: var(--color-blue);
  color: white;
  padding-left: 1rem;
  padding-top: 1rem;
  height: 100vh;
  position: sticky;
}

.dashboard > img {
  width: 50px;
  filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(202deg)
    brightness(117%) contrast(112%);
}

.menu > img,
.setting > img {
  width: 24px;
  filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(202deg)
    brightness(117%) contrast(112%);
  padding: none;
  margin: none;
}

.dashboard > p,
.menu > p,
.setting > p {
  display: inline;
  margin: 0px;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.setting-nav,
.menu-nav {
  padding-top: 50px;
  display: grid;
  align-items: center;
  align-content: center;
  gap: 5px;
}

.menu,
.setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.dashboard {
  display: flex;
  align-items: center;
}

.dashboard > p {
  font-size: 20px;
  margin-left: 10px;
}

.main-content {
  background-color: var(--color-gray);
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px 20px;
}

.myrep {
  grid-row: 1 / 3;
}

.container-myrep {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  gap: 20px;
}

.content-myrep {
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.content-myrep h1 {
  font-size: 1rem;
  margin: 0;
  letter-spacing: 1px;
}

.content-myrep p {
  margin-top: 10px;
  color: var(--color-text-gray);
}

.content-myrep img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.content-myrep .desc {
  padding: 20px;
}

.img-item-container {
  height: 200px;
}

.popular {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 20px;
}

.recent {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.container-recent {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.content-recent {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  align-items: center;
}

.content-recent h6 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.content-recent p {
  display: inline;
  word-wrap: break-word;
  font-size: 0.6rem;
  color: var(--color-text-gray);
  margin-top: 5px;
}

.recent-item-desc {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.content-myrep .open-icon {
  height: 22px;
  width: 22px;
  padding: 5px;
  filter: invert(40%) sepia(73%) saturate(5085%) hue-rotate(180deg)
    brightness(95%) contrast(98%);
}

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-top: 40px;
}

a {
  text-decoration: none;
  height: 34px;
}

.divider {
  border: 1px solid var(--color-gray);
  opacity: 0.6;
  border-radius: 10px;
  width: 130px;
}
